{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="form text-center">
    <form method="post" action="{% url 'put-password' %}">
        {% csrf_token %}
        <label for="password">Новий пароль:</label>
        <input type="password" name="password" id="password"><br>

        <label for="password-again">Введіть пароль ще раз:</label>
        <input type="password" name="password-again" id="password"><br>

        <button type="submit" class="small-button">Змінити</button>
</div>
{% endblock %}