body {
    background-color:darkgreen;
}
div.room {
    background-color:darkgreen !important;
    margin:25px;
    border: 3px solid black;
    border-radius:8px;
    display: inline-flex;
    width:28%;
}

div.bold {
    font-weight:bold;
    font-size:40px;
}

nav {
    border:2px black solid;
    margin:10px;
    border-radius:5%;
}

div.other-text {
    color:darkgoldenrod;
}

button.btn-outline-success {
    border-width:3px !important;
    font-weight:bold !important;
}

div.content {
    color:darkgoldenrod;
    margin-left:25%;
    margin-right:25%;
}

span.big {
    font-size: large;
    font-weight: bold;
}

hr.none {
    height:5px;
    border: none;
}

a.room {
    color:darkgoldenrod;
}

p.description {
    margin:5px;
    border:1px dotted rgba(0, 0, 139, 0.404);
    padding:5px;
    margin-bottom:5%;
}

div.delete-form {
    background-color: darkgoldenrod !important;
}

div.text-center {
    text-align:center;
}

.red {
    color:darkred !important;
}

div.view {
    color:darkgoldenrod;
    margin:10px;
    border:3px solid darkblue;
    border-radius:20px;
    align-content:center;
    margin-left:25%;
    margin-right:25%;
}