body {
    background-color:darkgreen;
}
div.room {
    background-color:darkgreen !important;
    margin:25px;
    border: 3px solid black;
    border-radius:8px;
}
img.room-image {
    margin:3px;
    max-width:120%;
    max-height:120% !important;
    height:90%;
}
img.room {
    max-width:50%;
    max-height:100%;
    margin-right:10px;
    border:5px dashed darkred;
    border-radius:6px;
}

div.bold {
    font-weight:bold;
    font-size:40px;
}

nav {
    border:2px black solid;
    margin:10px;
    border-radius:5%;
}

div.other-text {
    color:darkgoldenrod;
}

button.btn-outline-success {
    border-width:3px !important;
    font-weight:bold !important;
}

div.content {
    display:flex;
    color:darkgoldenrod;
}

span.big {
    font-size: large;
    font-weight: bold;
}

hr.none {
    height:5px;
    border: none;
}

a.room {
    color:darkgoldenrod;
}

p.description {
    margin:5px;
    border:1px dotted rgba(0, 0, 139, 0.404);
    padding:5px;
    margin-bottom:5%;
}

div.delete-form {
    background-color: darkgoldenrod !important;
}

.red {
    color:darkred !important;
}