{% extends "base.html" %}
{% block content %}

{% for room in rooms %}
<div class="card mb-3 room" style="max-width: 540px;">
  <div class="row g-0">
        {% load static %}
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'room-details' room.pk %}">{{ room.location }}</a></h5>
          <div class="other-text">
          <h6 class="card-title" style="margin-bottom:0px;">Кімната №{{ room.number }}</h6>
        <h6 class="card-title">Розрахована на {{ room.capacity }} людини.</h6>
        <small class="text-body-secondary">
          <p class="card-text">{{ room.description }}</p></small>
          <p class="card-text"><small class="text-body-secondary">
            Площа: {{ room.area }} м³,<br>
            Ціна: {{ room.price }} ₴/день.
        </small></p>
        </div>
        <a href="{% url 'book-room' %}?room-number={{ room.number }}" class="btn btn-primary active">Забронювати</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}